.card{
    width: 293px;
    height: 328px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.85);
    background: linear-gradient(130deg, rgba(255, 255, 255, 0.46) -9.69%, rgba(255, 255, 255, 0.30) 114.23%);
    backdrop-filter: blur(6px);
    padding: 28px 0 0 28px;
}

.card h1{
    color: #797979;
    font-family: "Poppins",sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
    margin-bottom: 17px;
}

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.card button{
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.85);
    background: linear-gradient(130deg, #1BADFF -9.69%, rgba(27, 173, 255, 0.90) 114.23%);
    backdrop-filter: blur(6px);
    width: 116px;
    height: 37px;
    color: #FFFFFF;
    float: right;
    margin-right: 15px;
}